<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="apotter96.GemsCraft.OnTheGo" android:versionCode="1" android:versionName="Cobblestone 1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="GemsCraft: On the Go" android:icon="@drawable/Icon"></application>
</manifest>